body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a.active {
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #bf9000;
}

p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}